@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", "Gill Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  background-color: #ffffff;
  color: #464646;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: rgba(240, 197, 46, 0.5);
}

.logo a:hover,
.logo a:focus,
.logo-html a:hover,
.logo-html a:focus {
  opacity: 0.6;
}

.logo a:active,
.logo-html a:active {
  opacity: 0.3;
}

.user-navigation,
.site-navigation,
.catalog-menu li,
.catalog-submenu li,
.user-menu li,
.site-menu li,
.new-goods li,
.popular-goods li,
.services li,
.brands li,
.breadcrumbs li,
.pagination li,
.sort li,
.filter li,
.gallery li {
  list-style: none;
}

.user-menu a,
.catalog-submenu a {
  color: #000000;
}

.catalog-menu>a,
.site-menu a,
.main-link a,
.slogan,
.value,
.popular-goods p,
.services a,
.services h2,
.about-us h2,
.about-us li,
.contacts h2,
.page-title,
.gallery h3,
.gallery a,
.caption,
.legend,
.pagination a,
.button {
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  color: #000000;
}

.about-us h2,
.contacts h2,
.services h2,
.page-title {
  font-size: 47px;
  line-height: 48px;
}

.catalog-menu>a,
.site-menu a,
.main-link a,
.services a,
.caption,
.prev a,
.next a,
.button {
  text-transform: uppercase;
}

.user-menu a:hover,
.user-menu a:focus,
.catalog-menu a:hover,
.catalog-menu a:focus,
.catalog-submenu a:hover,
.catalog-submenu a:focus,
.site-menu a:hover,
.site-menu a:focus,
.gallery a:hover,
.gallery a:focus,
.pages li:first-of-type a:hover,
.pages li:first-of-type a:hover,
.pages li:not(:first-of-type) a:hover,
.pages li:not(:first-of-type) a:hover {
  color: rgba(0, 0, 0, 0.6)
}

.user-menu a:active,
.catalog-menu a:active,
.catalog-submenu a:active,
.site-menu a:active,
.gallery a:active,
.prev a:active,
.next a:active,
.main-link a:active,
.pages li:first-of-type a:active,
.button:active {
  color: rgba(0, 0, 0, 0.3)
}

.new-goods .slogan {
  font-size: 47px;
  line-height: 56px;
}

.new-goods .value {
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.new-goods .parameter {
  font-size: 13px;
  line-height: 20px;
}

.popular-goods a {
  display: block;
  width: 160px;
}

.popular-goods .item div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 197, 46, 0.5);
  height: 160px;
}

.popular-goods .item2 div {
  align-items: flex-end;
}


.popular-goods a:hover div,
.popular-goods a:focus div {
  background-color: rgba(240, 197, 46);
}

.popular-goods a:active p,
.popular-goods a:active img {
  opacity: 0.3;
}

.services {
  background-color: #e5e5e5;
}

.about-us li {
  font-size: 16px;
  line-height: 40px;
  list-style-type: circle;
}

.main-footer {
  background-color: #464646;
}

.main-footer .user-menu a {
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
}

.main-footer .user-menu a:hover,
.main-footer .user-menu a:focus {
  color: #ffffff;
}

.main-footer .user-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer .site-menu a {
  color: #ffffff;
}

.main-footer .site-menu a:hover,
.main-footer .site-menu a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer .site-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer p {
  color: #ffffff;
}

.socials img {
  opacity: 0.3;
}

.socials a:hover img,
.socials a:focus img {
  opacity: 0.6;
}

.socials a:active img {
  opacity: 0.1;
}

.letter,
.map-big {
  display: none;
}

/*Catalog*/

.breadcrumbs li {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.out a,
.breadcrumbs a {
  color:rgba(0, 0, 0, 0.3);
}

.out a:hover,
.out a:focus,
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color:rgba(0, 0, 0, 0.6);
}

.out a:active,
.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter {
  background-color: rgba(0, 0, 0, 0.08);
}

.sort {
  background-color: rgba(0, 0, 0, 0.08);
}

.cost {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.main-footer .out a {
  color: #ffffff;
}

.main-footer .out a:hover,
.main-footer .out a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer .out a:active {
  color: rgba(255, 255, 255, 0.3);
}

.caption {
  font-size: 16px;
}

.color,
.bluetooth {
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}

.sort a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.sort li:first-of-type a,
.sort li:last-of-type a {
  color: #000000;
}

.sort li:first-of-type a:hover,
.sort li:first-of-type a:focus,
.sort li:last-of-type a:hover,
.sort li:last-of-type a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort li:first-of-type a:active,
.sort li:last-of-type a:active {
  color: rgba(0, 0, 0, 0.3);
}

.sort li:not(:first-child):not(:last-child) a:hover,
.sort li:not(:first-child):not(:last-child) a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort li:not(:first-child):not(:last-child) a:active{
  color: #000000;
}

.pagination {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.08);
}

.prev a,
.next a {
  display: block;
}

.prev a:hover,
.prev a:focus,
.next a:hover,
.next a:focus {
  background-color:rgba(0, 0, 0, 0.08);
}

.pages li:not(:first-of-type) a {
  color: rgba(0, 0, 0, 0.3);
}

.pages li:not(:first-of-type) a:active {
  color: #000000;
}

/*Трансформация градиента*/
.main-link,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 220px;
  background-image:
    linear-gradient(transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
  transition-duration: 100ms;
}

.main-link:hover,
.button:hover {
  background-color: #f0c52e;
}

.button {
  border: none;
  background-color: transparent;
}

/*Сеточные стили*/

body {
  padding-top: 40px;
  padding-bottom: 0px;
  min-width: 1200px;
}

.user-navigation,
.site-navigation,
.search,
.user-menu,
.catalog-menu,
.catalog-submenu,
.site-menu,
.slides {
  margin: 0;
  padding: 0;
}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.main-column {
  width: 560px;
}

.main-header-column {
  width: 500px;
}

.main-header {
  padding: 60px;
  min-height: 300px;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
}

.user-menu li:first-child {
  margin-right: auto;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
}

.site-menu {
  display: flex;
}

.site-menu li:last-child {
  margin-left: auto;
}

.new-goods {
  position: relative;
  top: -100px;
}

.slider-1,
.slider-2,
.slider-3 {
  display: flex;
  justify-content: space-between;
}

.image-slider {
  display: flex;
  justify-content: center;
}

.popular-goods-list {
  display: flex;
  justify-content: space-between;
}

.slides-services {
  display: flex;
  justify-content: space-between;
}

.brands-wrapper {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  justify-content: space-between;
}

.breadcrumbs {
  display: flex;
}

.wrapper-catalog {
  display: flex;
}

.sort {
  display: flex;
  justify-content: space-between;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

/*Декоративные элементы*/

.main-header .logo {
  position: absolute;
  margin-top: -78px;
}

.socials {
  display: flex;
  justify-content: space-between;
}
